# Veri setleri (Git'e yüklenmez)
data/raw/
data/processed/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Ortam
.env
.venv/
venv/
env/

# Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
